/* "*" is an universal selector that works for all elements/tags */

/* make all elements border-sized */

* {
    /* The width and height properties include the content, padding, and border, but do not include the margin */
    box-sizing: border-box;
}

#calend-nav {
    font-size: 1.5rem;
}

#calend-month-name {
    /* give to div with month name permanent width and center position to the text*/
    width: 5em;
    text-align: center;
}

#calender {
    width: 100%;
    /* to keep readible view set min-width*/
    min-width: 800px;
}

#calender .row {
    /* to arrange 7-day cells along full width of the row*/
    display: flex;
    width: 100%;
}

.month-day {
    /* 1/7 of the whole row width*/
    flex-basis: 14.29%;
    height: 88px;
    background-color: white;
    border: 1px solid #c9c9c9;
    margin: 3px 3px;
    padding: 6px 6px;
    /* use flex-box to align children*/
    display: flex;
    /* make all child element like 'events' and 'holidays' wrapable to the next row inside the cell */
    flex-wrap: wrap;
}

.month-day .date {
    font-size: 1.2rem;
    /* USE 50% of cell width for date */
    flex-basis: 50%;
    font-weight: bold;
}

.month-day .event-box {
    /* use 100% of cell width for event */
    flex-basis: 100%;
}

.month-day .todo {
    /* use 50% of cell width for to-do amount in this day */
    flex-basis: 50%;
}

/* badge-emblem to show amount of to-dos*/
.month-day .todo .badge {
    background-color: #5b93df;
    color: white;
    border-radius: 0.5em;
    display: inline-block;
    text-align: center;
    width: 2.5em;
    font-size: 1.2rem;
}

/* make weekend look different */
.weekend {
    background-color: #ffd2c9;
}

/* styling holiday info in a cell */
.holiday {
    background-color: #ff87be;
    color: white;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 1px 3px;
}

/* styling holiday event info in a cell */
.event {
    background-color: #fff1cc;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 1px 3px;
}

table {
    width: 100%;
}

.wknd {
    color: red;
}